.reveal {
  font-size: 25px;
}
.reveal h1 {
  font-size: 2.5em;
}
.reveal h2 {
  font-size: 2em;
}

.reveal table {
  line-height: 1.2;
}

.reveal table td {
  padding: 0.2em 0.2em 0.2em 0.2em;
}

.twocolumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  text-align: center;
  align-items: center;
}

.Cube.panelLoad {
	z-index: 11;
	top: 50%;
	margin-top: -60px;
	-webkit-animation: panel 2.2s infinite forwards;
	animation: panel 2.2s infinite forwards;
}
